<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Pilih Kategori yang akan di Tambahkan</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeTambah()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
        <label class="item">
          <button class="button button-block button-positive" ng-click="pemasukanCtrl()">Pemasukan</button>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="pengeluaran()">Pengeluaran</button>
        </label>
  </ion-content>
</ion-modal-view>