<!-- <ion-view view-title="Daftar Pemasukan">
	<ion-nav-buttons side="right" >
	      <button class="button button-icon icon ion-plus-round" ng-click="pemasukan()">        
	      </button>
	</ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item ng-click="pemasukan()" ng-repeat="playlist in playlists" >
      href="#/app/playlists/{{playlist.id}}"
        {{playlist.title}} {{playlist.jumlah}} 
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
 -->
 <!-- <head>
    <style type="text/css">
    .padding-tops{padding-top: 40px;}
    </style>
</head>

<ion-view view-title="Daftar Pemasukan">
    <ion-nav-buttons side="right" >
          <button class="button button-icon icon ion-plus-round" ng-click="pemasukan()">        
          </button>
    </ion-nav-buttons> 
   <ion-content>
      <form ng-submit="doSavePemasukan()">
        <div class="list card">        
          <label class="item item-input" >
            
            <span class="input-label">Jumlah Pemasukan</span>
            <input type="number" ng-model="pemasukanData.jumlah">
            <label  class="toggle">
              <ion-toggle  ng-model="pemasukanData.toggle"                    
                      class="padding-tops" >          
              </ion-toggle>
            </label>
            
          </label>
          
          <div class="range">
            <i class="ion-minus-round"></i>          
            <input type="range" name="volume" ng-model="pemasukanData.tabung">
            <i class="ion-plus-round"></i>
          </div>
          <label class="item item-input">
            Tabung : {{pemasukanData.tabung}} %          
          </label>
          <label class="item item-input">
            <span class="input-label">Tanggal</span>
            <input type="date" ng-model="pemasukanData.tanggal">         
          </label>

      </ion-content>
  </ion-view> -->
  <ion-view view-title="Daftar Pemasukan">
    <ion-nav-buttons side="right" >         
          <button class="button button-icon icon ion-plus-round" ng-click="pemasukan()">        
          </button>
    </ion-nav-buttons>
    <!-- <ion-nav-buttons side="">
          <button class=" item-icon-right button button-icon icon ion-trash-a" ng-click="pemasukan()">        
          </button>
    </ion-nav-buttons>  -->
  <ion-content>
    <!-- <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" ng-click="pemasukan()">
    <i class="icon ion-android-add "></i>
            Input Pemasukan
    </a>  
    </div> -->
    <ion-list show-delete="data.showDelete" can-swipe="on-swipe-rigth" >
        <div class="row">
            <div class="col col-20">            
                        
            </div>
            <div class="col col-20">                
                <b>Kategori</b>
            </div>            
            <div class="col col-20">                
                <b>Jumlah</b>
            </div>            
            <!--
            <div class="col-10">                
                Status
            </div>
            -->
            <div class="col col-20" >                
                <b>Tabungan</b>
            </div>
            <div class="col col-20">                
                <b>Tanggal</b>
            </div>       
       </div>
      <ion-item ng-repeat="pemasukan in pemasukans" ng-click="getPemasukan(pemasukan.id)">
        <div class="row">
            <div class="col col-20">            
            <button class="button"  style="background-color: {{pemasukan.warna}} ; color: #fff; font-size: bold;">
                {{pemasukan.nama}}                
            </button>            
            </div>
            <div class="col col-20">                
                 {{pemasukan.namaKategori}}
            </div>            
            <div class="col col-20">                
                 {{pemasukan.jumlah}}
            </div>
            <!--
            <div class="col-10">                
                {{pemasukan.toggle}}
            </div>
            -->
            <div class="col col-20" >                
                {{pemasukan.tabung}}
            </div>
            <div class="col col-20">                
                    {{pemasukan.tanggal|dates}}                             
            </div>
            
                        
       </div>
       <!-- <div class=" row item-icon-right" ng-click="doDeletePemasukan()">
              <button class="button button-icon icon ion-trash-a ">        
            </button>                         
       </div>     -->       
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
