<ion-view view-title="Grafik">
  <ion-content>
    <div class="card"> 
      <label class="item">
        <h2 class="input-label ">Total Pengeluaran : {{totalBulanP}} </h2>
      </label> 
    </div>
    <div class="card">
        <div class="item item-divider">
            Detil Grafik Pengeluaran  
        </div>
        <div class="item item-text-wrap">
            <canvas id="dougnuth" class="chart chart-doughnut" chart-data="dataDetilBulanP" chart-labels="labelsdataDetilBulanP" chart-colours="dataDetilWarnaP">
            </canvas>             
        </div>        
    </div>
</ion-content>
</ion-view>