<ion-view view-title="Grafik">
  <ion-content>
    <div class="card"> 
      
        <div class = "row item item-input">
            <div class="col col-30">
                <h4 class="input-label ">Total Pemasukan : {{totalBulan}} </h4>
            </div>
            <div class="col col-30">
                <h4 class="input-label ">Sisa Pemasukan : {{sisa}} </h4>
            </div>
            <div class="col">
                <h4 class="input-label "> Warning : {{pesan}} </h4>
            </div>
        </div>        
      
    </div>
    <div class="card">
        <div class="item item-divider">
            Detil Grafik Pemasukan
        </div>
        <div class="item item-text-wrap">
            <canvas id="dougnuth" class="chart chart-doughnut" chart-data="dataDetilBulan" chart-labels="labelsdataDetilBulan" chart-colours="dataDetilWarna">
            </canvas>             
        </div>        
    </div>
</ion-content>
</ion-view>